## Q1. List any five functions of the pandas library with execution.

**five functions of the pandas library with their execution:**

1. `read_csv()`: This function is used to read data from a CSV file and create a DataFrame object.

2. `head()`: This function is used to display the first few rows of a DataFrame.
 
3. `describe` This function is used to get a statistical summary of a DataFrame.

4. `groupby()`: This function is used to group data in a DataFrame based on one or more columns, and then apply some aggregate function to each group.

5. `plot()`: This function is used to create various types of plots such as line plots, scatter plots, bar plots, etc.

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [21]:
columns = []
i = 1
while i <= len(df.columns)*2:
    columns.append(i)
    i += 2
columns

[1, 3, 5]

In [22]:
index = {}
for i in range(len(df.columns)):
    index[df.columns[i]] = columns[i]
    
df= df.rename(columns=index)    
df

   1  3   5
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [32]:
df = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})
df

   Values
0      10
1      20
2      30
3      40
4      50

In [33]:
 
def sum_first_three(df):
    # get the first three values in the 'Values' column
    first_three = df['Values'].head(3)
    # calculate the sum
    total = first_three.sum()
    
    print(f"The sum of the first threrie values in the 'Values' column is: {total}")

sum_first_three(df)

The sum of the first threrie values in the 'Values' column is: 60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [34]:
# create a sample DataFrame
df = pd.DataFrame({'Text': ['This is the first row.', 'Here is the second row with more words.', 'And here is the third.']})

df

                                      Text
0                   This is the first row.
1  Here is the second row with more words.
2                   And here is the third.

In [35]:
def add_word_count(df):
    # create a new column 'Word_Count' containing the word count of each row in the 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    # return the modified DataFrame
    return df

add_word_count(df)

                                      Text  Word_Count
0                   This is the first row.           5
1  Here is the second row with more words.           8
2                   And here is the third.           5

## Q5. How are DataFrame.size() and DataFrame.shape() different?

In Pandas, the `DataFrame.size` and `DataFrame.shape` attributes are used to obtain information about the size of a DataFrame, but they provide different information.

- 1. `DataFrame.size`: This attribute returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. It doesn't return a tuple or any other data structure, just a single integer value.

- 2. `DataFrame.shape`: This attribute returns a tuple containing the number of rows and columns in the DataFrame, respectively. The first element of the tuple is the number of rows, and the second element is the number of columns. The output of the shape attribute is always a tuple, even if the DataFrame has only one row or one column.

## Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in pandas, we use the `read_excel()` function. This function reads the contents of an Excel file into a pandas DataFrame.

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [38]:
# create a sample DataFrame with an 'Email' column
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.jones@example.com']})

df

                    Email
0    john.doe@example.com
1  jane.smith@example.com
2   bob.jones@example.com

In [39]:

def extract_username(df):
    # create a new 'Username' column
    df['Username'] = df['Email'].str.split('@').str[0]
    
    # return the updated DataFrame
    return df

extract_username(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2   bob.jones@example.com   bob.jones

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects  all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The  function should return a new DataFrame that contains only the selected rows.  For example, if df contains the following values: 

#  A   B   C   
# 0  3   5   1   
# 1  8   2   7   
# 2  6   9   4   
# 3  2   3   5   
# 4  9   1   2

In [41]:
df =pd.DataFrame({"A":[0,1,2,3,4], 
                  "B":[3,8,6,2,9],
                  "C":[1,7,4,5,2]}
                )
df

   A  B  C
0  0  3  1
1  1  8  7
2  2  6  4
3  3  2  5
4  4  9  2

In [44]:
def select_rows(df):
    new_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return new_df
select_rows(df)

Empty DataFrame
Columns: [A, B, C]
Index: []