In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("flight_price.xlsx")
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [5]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df.Airline.value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [10]:
df1 = pd.read_csv("google_cleaned.csv")
df1["Category"].value_counts()

FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: Category, dtype: int64

In [14]:
import pandas as pd

# Create a DataFrame with the sample data
df = pd.DataFrame({'Duration': ['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m']})

# Convert the duration to minutes
df['Duration_minutes'] = df['Duration'].apply(lambda x: sum([int(i[:-1]) * 60**(1-i[-1]=='m') for i in x.split()]))

# Calculate the average duration in minutes
average_duration_minutes = df['Duration_minutes'].mean()

# Convert the average duration to the format "7h 25m"
average_duration_hours = int(average_duration_minutes / 60)
average_duration_minutes = int(average_duration_minutes % 60)
average_duration = f"{average_duration_hours}h {average_duration_minutes}m"

# Print the average duration
print(f"Average duration: {average_duration}")

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Duration': ['7h 30m', '6h 45m', '8h 15m', '7h 0m', '6h 30m']})

# Convert the duration to minutes
df['Duration_minutes'] = df['Duration'].apply(lambda x: int(x.split('h')[0]) * 60 + int(x.split('h ')[1].split('m')[0]))

# Calculate the average duration in minutes
average_duration_minutes = df['Duration_minutes'].mean()

# Convert the average duration to the format "7h 25m"
average_duration_hours = int(average_duration_minutes / 60)
average_duration_minutes %= 60
average_duration = f"{average_duration_hours}h {average_duration_minutes}m"

# Print the average duration
print(f"Average duration: {average_duration}")

In [28]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [29]:
def duration_to_minutes(duration_string):
    hours = int(duration_string.split('h')[0])
    minutes = 0
    if 'm' in duration_string:
        minutes_str = duration_string.split('m')[0].split()[-1]
        if minutes_str:
            minutes = int(minutes_str)
    return hours * 60 + minutes
duration_to_minutes(df["Duration"][2])

1140