# Assignments

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A`database` is an organized collection of data that is stored and managed on a computer system. It can be accessed, managed, and updated by authorized users, and it allows users to efficiently organize and retrieve large amounts of data. A database typically consists of one or more tables, with each table containing rows (also known as records) and columns (also known as fields) that hold specific types of data.

`SQL` vs `NoSQL` databases

`SQL` (Structured Query Language) and `NoSQL` (Not Only SQL) are two types of database systems that differ in their data models, scalability, and performance.

`SQL` databases are relational databases that use tables to store and manage data. The data in a SQL database is organized into tables, with each table having a specific schema that defines the structure and relationships between the data. `SQL` databases are known for their strong consistency, well-defined schemas, and support for complex queries.

`NoSQL` databases, on the other hand, are non-relational databases that use documents, key-value pairs, or graphs to store and manage data. `NoSQL` databases are designed to be highly scalable and performant, and they can handle large volumes of unstructured or semi-structured data. `NoSQL` databases are known for their flexibility, high availability, and support for distributed computing.

Here are some of the key differences between `SQL` and `NoSQL` databases:

- `Data model`: `SQL` databases use a relational data model, while `NoSQL` databases use a non-relational data model.
- `Schema`: `SQL` databases have a well-defined schema that is enforced at the database level, while `NoSQL` databases have a flexible schema that can evolve over time.
- `Scalability`: `NoSQL` databases are designed to be highly scalable, and they can easily handle large volumes of data and traffic. `SQL` databases, on the other hand, are not as scalable and may require complex partitioning and sharding techniques to handle large volumes of data.
- `Querying`:` SQL` databases are optimized for complex queries and support a wide range of `SQL` queries, while NoSQL databases are optimized for simple queries and may not support complex queries or joins.
- `Consistency`: `SQL` databases offer strong consistency guarantees, while `NoSQL` databases may offer eventual consistency or other weaker consistency models.
- `Availability`: `NoSQL` databases are designed to be highly available and fault-tolerant, while `SQL` databases may require more manual intervention to ensure high availability and reliability.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

`DDL` (Data Definition Language) is a subset of SQL that is used to define and manage the structure of a database. `DDL` statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. `DDL` statements do not affect the data in the database, only the structure of the database.

The `CREATE` statement is used to create a new database object such as a table, view, or index. The syntax for the `CREATE` statement varies depending on the type of object being created. For example, to create a new table named "employees" with three columns (id, name, and age), the following `SQL` statement can be used:

CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT
);

The `DROP` statement is used to delete a database object such as a table, view, or index. When a database object is dropped, all data associated with the object is also deleted. For example, to drop the "employees" table created in the previous example, the following SQL statement can be used:

DROP TABLE employees;

The`ALTER` statement is used to modify the structure of an existing database object such as a table, view, or index. The ALTER statement can be used to add, modify, or delete columns in a table, change the data type of a column, or modify the constraints on a table. For example, to add a new column "email" to the "employees" table created earlier, the following `SQL` statement can be used:

ALTER TABLE employees ADD email VARCHAR(50);

The `TRUNCATE` statement is used to delete all the data in a table, but the table structure remains intact. `TRUNCATE` is faster than `DELETE` for removing all the rows in a table because it does not generate log records for each individual row. For example, to delete all the data in the "employees" table, the following `SQL` statement can be used:

TRUNCATE TABLE employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

`DML` (Data Manipulation Language) is a subset of `SQL` that is used to modify the data in a database. `DML` statements are used to insert, update, and delete records in a table. `DML` statements do not affect the structure of the database, only the data in the database.

The `INSERT` statement is used to insert new records into a table. The syntax for the `INSERT` statement is as follows:

In [ ]:
INSERT INTO table_name (column1, column2, ..., columnN)
VALUES (value1, value2, ..., valueN);

`UPDATE`: The `UPDATE` command is used to modify existing data in a table. The syntax for the `UPDATE` command is as follows:

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

`DELETE`: The `DELETE` command is used to delete data from a table. The syntax for the `DELETE` command is as follows:

DELETE FROM table_name
WHERE condition;

## Q4. What is DQL? Explain SELECT with an example.

`DQL` stands for Data Query Language. It is a subset of `SQL` (Structured Query Language) that is used to retrieve data from a database. DQL commands are used to retrieve data from tables. Here is an example of a `DQL` command:

`SELECT`: The `SELECT` command is used to retrieve data from one or more tables in a database. The syntax for the SELECT command is as follows:

SELECT column1, column2, column3, ...
FROM table_name
WHERE condition;

For example, let's say we have a table called "employees" with the columns "id", "name", "age", and "salary". We can retrieve all the data from this table using the following SELECT command:

SELECT *
FROM employees;

## Q5. Explain Primary Key and Foreign Key.

`Primary Key` and `Foreign Key` are two important concepts in database design that are used to establish relationships between tables. Here's an explanation of each:

 - 1.`Primary Key`: A `primary ke`y is a unique identifier for each row in a table. It is a column or a set of columns that uniquely identifies each record in the table. A primary key cannot have duplicate values and must have a value for each row in the table. It is used to enforce data integrity and to establish relationships with other tables.

- 2.`Foreign Key`: `A foreign key` is a column in one table that refers to the `primary key` of another table. It is used to establish relationships between tables and to enforce referential integrity. A `foreign key` column can have the same values as the primary key column it references, or it can be null.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect to `MySQL` in Python, you need to use a `MySQL` connector. The most popular `MySQL` connector for Python is called `"mysql-connector-python"`. Here's an example of how to connect to a `MySQL` database using Python:

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

In this example, we first import the `"mysql.connector"` module, and then use the `"connect()"` method to connect to the `MySQL` database. We specify the host, username, password, and database name as parameters to the `"connect()"` method.

After we've connected to the database, we create a cursor object using the `"cursor()"` method. The cursor is used to execute `SQL` queries and fetch results.

We then execute a `SQL` query using the `"execute()"`method of the cursor object. In this example, we're selecting all the data from the "employees" table.

Once the query has been executed, we can fetch the results using the`"fetchall()"` method of the cursor object. This returns all the rows in the result set as a list of tuples.

Finally, we loop through the results and print each row.

The `"cursor()"` method creates a cursor object that allows you to execute SQL queries and fetch results. The `"execute()"` method is used to execute a `SQL` query on the database. It takes a string containing the `SQL` query as a parameter. The `"fetchall()"` method is used to fetch all the rows in the result set as a list of tuples. There are other methods available to fetch individual rows, such as `"fetchone()"` and `"fetchmany()"`.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In a `SQL` query, the order of execution of the clauses is as follows:

- 1.`FROM` - specifies the table(s) to be queried
- 2.`JOIN` - specifies the type of join (if any) to be used to combine the tables
- 3.`WHERE` - filters the rows based on a specified condition
- 3.`GROUP BY` - groups the rows based on a specified column(s)
- 4.`HAVING` - filters the groups based on a specified condition
- 5.`SELECT` - specifies the columns to be selected
- 6.`DISTINCT` - removes duplicates from the result set
- 7.`ORDER BY` - sorts the result set based on a specified column(s)
-`limits`- the number of rows return