# Consider following code to answer further questions:
# import pandas as pd  
# course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]  
# duration = [2,3,6,4]  
# df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})  

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

`loc` and `iloc` are both attributes of the pandas DataFrame used to retrieve data, but they differ in how they reference data.

`loc` is used to retrieve data based on the labels of the rows or columns. For example, `df.loc[2, 'duration']` would retrieve the value in the duration column of the row labeled 2.

On the other hand, `iloc` is used to retrieve data based on its integer location. For example, `df.iloc[2, 1]` would retrieve the value in the second column (index 1) of the third row (index 2).

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

In [9]:
reindex = [3, 0, 1, 2]  # new index order
new_df = df.reindex(reindex)  # reindex the dataframe

print(new_df.loc[2])  # output row with label 2
print(new_df.iloc[2])  # output row with integer location 2

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference between the outputs of `new_df.loc[2]` and `new_df.iloc[2]` because they retrieve data using different methods of indexing.

`new_df.loc[2]` retrieves the row with label 2 from the DataFrame new_df, while `new_df.iloc[2]` retrieves the row at integer location 2 (i.e., the third row) from new_df. Because the reindex operation changes the order of the rows in new_df, these two methods will retrieve different rows.

## Consider the below code to answer further questions:
import pandas as pd  
import numpy as np  
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']  
indices = [1,2,3,4,5,6]  
#Creating a dataframe:  
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.050633  0.803087  0.373720  0.887486  0.765799  0.292808
2  0.113492  0.095843  0.290102  0.411919  0.482426  0.672218
3  0.758921  0.071722  0.625429  0.752746  0.598811  0.493106
4  0.901386  0.202308  0.022286  0.158468  0.512169  0.668400
5  0.788031  0.476940  0.619007  0.915254  0.645875  0.731775
6  0.386964  0.835679  0.550345  0.404187  0.992080  0.949508

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [23]:
df1.mean()

column_1    0.499904
column_2    0.414263
column_3    0.413481
column_4    0.588343
column_5    0.666193
column_6    0.634636
dtype: float64

In [24]:
df1["column_2"].std()

0.34535608630190706

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
**[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]**

In [18]:
string =["a","b","c","d","e","f"]

In [34]:
df1.loc[:,"column_2"] = string
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.050633        a  0.373720  0.887486  0.765799  0.292808
2  0.113492        b  0.290102  0.411919  0.482426  0.672218
3  0.758921        c  0.625429  0.752746  0.598811  0.493106
4  0.901386        d  0.022286  0.158468  0.512169  0.668400
5  0.788031        e  0.619007  0.915254  0.645875  0.731775
6  0.386964        f  0.550345  0.404187  0.992080  0.949508

In [37]:
try:
    df1.loc[:,"column_2"].mean()
except Exception as e:
    print(e)

Could not convert abcdef to numeric

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, the `window function` is used to perform calculations on a rolling window of data. It allows us to perform calculations on a specified number of rows, rather than the entire dataset. The `window function` is useful for analyzing time series data or for performing calculations that require a rolling window, such as moving averages.

There are several types of window functions available in pandas:

1. `Rolling`: This window function is used to apply a rolling calculation to a specified window of data. It calculates the values over a specified number of rows and can be used for calculating rolling averages, standard deviations, and other rolling statistics.

2. `Expanding`: This window function is used to apply a calculation to an expanding window of data. It calculates the values over all rows up to and including the current row.

3. `Exponentially weighted`: This window function is similar to the rolling window function, but it gives more weight to recent data points. This function is useful for analyzing time series data where recent data is more important than older data.

4. `Rolling window aggregation`: This window function is used to apply an aggregation function (such as sum, mean, or max) to a rolling window of data. It calculates the values over a specified number of rows and returns a single value for each window.

5. `Grouped window`: This window function is used to apply a rolling or expanding calculation to groups of data defined by a categorical variable. It can be used for analyzing data that is split into groups, such as by country or by product.

## Q7. Write a code to print only the current month and year at the time of answering this question.[Hint: Use pandas.datetime function]

In [4]:

# Get the current timestamp
now = pd.Timestamp.now()

# Extract the month and year from the timestamp
current_month =  pd.to_datetime(str(now.month), format='%m').strftime('%B')
current_year = now.year

# Print the current month and year
print(f"Current month :{current_month}, and year: {current_year}")

Current month :February, and year: 2023

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [39]:

# Get the input dates from the user
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to Pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference between the two dates
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference: {} days, {} hours, {} minutes".format(days, hours, minutes))

Enter the first date (YYYY-MM-DD): 1995-02-11
Enter the second date (YYYY-MM-DD): 2023-02-26
Time difference: 10242 days, 0 hours, 0 minutes

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [10]:
# Get the file path from the user
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Get the column name from the user
column_name = input("Enter the column name: ")

# Get the category order from the user
category_order = input("Enter the category order (comma-separated list): ")
category_order = [x.strip() for x in category_order.split(",")]

# Convert the specified column to a categorical data type with the specified category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=column_name)

# Display the sorted DataFrame
df_sorted[column_name].unique()

Enter the file path: Data\train.csv
Enter the column name: Name
Enter the category order (comma-separated list): 3

[NaN]
Categories (1, object): ['3']

### Q 10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file: ")

# Read CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Convert the 'date' column to a datetime format
df['date'] = pd.to_datetime(df['date'])

# Pivot the DataFrame to create a new DataFrame where columns are the product categories,
# rows are the dates, and the values are the sales
sales_by_category = df.pivot(index='date', columns='category', values='sales')

# Create a stacked bar chart of the sales by category over time
sales_by_category.plot(kind='bar', stacked=True,)

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

The program should do the following:  
-  Prompt the user to enter the file path of the CSV file containing the student data.  
- Read the CSV file into a Pandas DataFrame.  
 - Calculate the mean, median, and mode of the test scores using Pandas tools.  
- Display the mean, median, and mode in a table. 
Assume the CSV file contains the following columns.  
- Student ID: The ID of the student.  
- Test Score: The score of the student's test.

In [5]:
mark =pd.DataFrame({
    "Student ID":[1,2,3,4,5,6,7,8,9,10],
    "Test Score":[85, 90, 80, 75, 85, 82, 78, 85, 90, 85]
})

In [6]:
mark

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [7]:
mark.to_csv("mark.csv")

In [34]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file: ")

# Read CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().values[0]

from tabulate import tabulate

# Example data
data = {
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, mode]
}

# Print table
print(tabulate(data, headers='keys', tablefmt='pipe'))

Enter the file path of the CSV file: mark.csv
| Statistic   |   Value |
|:------------|--------:|
| Mean        |    83.5 |
| Median      |    85   |
| Mode        |    85   |